[Unit]
Description = Dispatch Service
[Service]
User=roboshop
ExecStart=/home/roboshop/dispatch/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target